<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="style.css">
  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  <title>Guess the characters?</title>
</head>

<body>
  <main>
    <h1>Guess the characters of <mark>The Big Bang Theory</mark></h1>
    <section>
      Here are some key facts about the TV sitcom The Big Bang Theory:

      <ol>
        <li>It aired on CBS from 2007 to 2019 for a total of 279 episodes over 12 seasons.</li>
        <li>The show was centered around a group of nerdy scientists and their friendships with an aspiring actress
          named
          Penny.</li>
        <li>The main characters were Sheldon Cooper, Leonard Hofstadter, Howard Wolowitz, and Raj Koothrappali, who all
          worked
          at
          Caltech.</li>
        <li>Notable recurring characters included Penny, Amy Farrah Fowler, Bernadette Rostenkowski, Stuart Bloom, and
          Barry
          Kripke.</li>
      </ol>

      <p>In summary, The Big Bang Theory was lauded as one of the most successful sitcoms centered around nerd culture
        and
        science.</p>
    </section>

  </main>
  <section id="app">
    <h2>{{title}}</h2>
    <aside>
      <h3>Favorite Characters</h3>
      <ol>
        <li v-for="fav in favoriteCharacters">{{fav}}</li>
      </ol>
    </aside>
    <input type="text" size="30" maxlength="30" placeholder="Character" aria-label="character box" v-model="answer">
    <br>
    <div v-if="answer == ''">❗Type your answer</div>
    <div v-else-if="characters.some((actor) => actor.name == answer.toLowerCase())">
      {{right}}
      <label for="addCharacter">Did we miss an character? Add it!</label>
      <input type="text" id="addCharacter" v-model="newCharacter">
      <button @click="addToCharacterList(newCharacter)" class="favorite-btn">Add</button>
    </div>
    <div v-else>
      {{wrong}}
      <hr />
      <ul>
        <li v-for="actor in characters">
          {{capitalizeFirstWord(actor.name)}}
          <button class="favorite-btn" @click="addtoFavList(actor)">Mark Favorite</button>
        </li>
      </ul>
    </div>
    <div class="stats">

    </div>
  </section>

</body>



<script>
  const { createApp } = Vue
  const app = createApp({
    data() {
      return {
        title: "Who are the characters in the show?",
        characters: [{
          name: 'penny',
          age: 26,
          area: 'US',
          relationship: 'committed'
        }, {
          name: 'sheldon',
          age: 27,
          area: 'Texas',
          relationship: 'NA'
        }, {
          name: 'leonard',
          age: 26,
          area: '',
          relationship: 'searching'
        }, {
          name: 'raj',
          age: 25,
          area: 'Mumbai',
          relationship: 'single'
        }, {
          name: 'bernadette',
          age: 28,
          area: 'Canada',
          relationship: 'single'
        }, {
          name: 'amy',
          age: 30,
          area: 'Asian',
          relationship: 'committed'
        }],
        right: "✔️ You are absolutely correct!",
        wrong: "⚠️ Oops! You did not watch The Big Bang Theory Properly!",
        answer: '',
        newCharacter: '',
        favoriteCharacters: []
      }
    },
    methods: {
      addtoFavList(value) {
        console.log('value', value)
        this.favoriteCharacters.push(value)
        console.log(this.favoriteCharacters)
      },
      addToCharacterList(newCharacter) {
        this.characters.push(newCharacter.toLowerCase())
        console.info('all characters now', this.characters)
      },
      capitalizeFirstWord(string) {
        const words = string.split(' ');
        words[0] = words[0].charAt(0).toUpperCase() + words[0].slice(1);
        return words.join(' ');
      }
    }
  }); // app is just that validator
  app.mount("#app")
</script>

</html>
