<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="style.css">
  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  <title>Guess the characters?</title>
</head>

<body>
  <main>
    <h1>Guess the characters of <mark>The Big Bang Theory</mark></h1>
    <section>
      Here are some key facts about the TV sitcom The Big Bang Theory:

      <ol>
        <li>It aired on CBS from 2007 to 2019 for a total of 279 episodes over 12 seasons.</li>
        <li>The show was centered around a group of nerdy scientists and their friendships with an aspiring actress
          named
          Penny.</li>
        <li>The main characters were Sheldon Cooper, Leonard Hofstadter, Howard Wolowitz, and Raj Koothrappali, who all
          worked
          at
          Caltech.</li>
        <li>Notable recurring characters included Penny, Amy Farrah Fowler, Bernadette Rostenkowski, Stuart Bloom, and
          Barry
          Kripke.</li>
      </ol>

      <p>In summary, The Big Bang Theory was lauded as one of the most successful sitcoms centered around nerd culture
        and
        science.</p>
    </section>

  </main>
  <section id="app">
    <h2>{{title}}</h2>
    <aside>
      <h3>Favorite Characters</h3>
      <ol>
        <li v-for="fav in favoriteCharacters">{{fav}}</li>
      </ol>
    </aside>
    <input type="text" size="30" maxlength="30" placeholder="Character" aria-label="character box" v-model="answer">
    <br>
    <div v-if="answer == ''">❗Type your answer</div>
    <div v-else-if="characters.includes(answer.toLowerCase())">{{right}}
      <label for="addCharacter">Did we miss an character? Add it!</label>
      <input type="text" id="addCharacter" v-model="newCharacter">
      <button @click="addToCharacterList(newCharacter)" class="favorite-btn">Add</button>
    </div>
    <div v-else>
      {{wrong}}
      <hr />
      <ul>
        <li v-for="actor in characters">
          {{actor}}
          <button class="favorite-btn" @click="addtoFavList(actor)">Mark Favorite</button>
        </li>
      </ul>
    </div>
    <div class="details">
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Beatae sequi amet mollitia at. Assumenda ab
      necessitatibus
      nulla cum provident consequuntur facere architecto rerum illo, illum minima recusandae a exercitationem
      doloremque.
      Voluptatibus quae nulla, sequi aspernatur porro nesciunt nemo voluptate. Voluptatem a quae numquam delectus
      tenetur
      ea
      enim, vel qui, dolorum iure sequi dolor! Blanditiis, laborum sit ratione sint praesentium modi?
      Optio quia a nam animi odit! Facilis incidunt aliquid, perferendis eligendi odio non nam vero labore et. Quaerat
      esse,
      ratione asperiores quas, fuga eos nostrum exercitationem placeat, nihil vero facilis!
      Accusamus cumque in suscipit, ratione eos vel nostrum ducimus reprehenderit voluptas rerum illum ex expedita
      possimus.
      Dolorum aspernatur culpa placeat ab in porro temporibus, totam optio voluptas ullam quasi minima!
      Autem hic, perferendis earum iusto quaerat harum molestiae, eum nobis repellendus voluptatibus natus ullam
      reprehenderit esse cupiditate deleniti voluptates mollitia. Quidem doloribus quas soluta sed. Quaerat laboriosam
      optio
      asperiores error.
    </div>
  </section>

</body>



<script>
  const { createApp } = Vue
  const app = createApp({
    data() {
      return {
        title: "Who are the characters in the show?",
        characters: ["penny", "sheldon", "leonard", "raj", "bernadette", "amy"],
        right: "✔️ You are absolutely correct!",
        wrong: "⚠️ Oops! You did not watch The Big Bang Theory Properly!",
        answer: '',
        newCharacter: '',
        favoriteCharacters: []
      }
    },
    methods: {
      addtoFavList(value) {
        console.log('value', value)
        this.favoriteCharacters.push(value)
        console.log(this.favoriteCharacters)
      },
      addToCharacterList(newCharacter) {
        this.characters.push(newCharacter.toLowerCase())
        console.info('all characters now', this.characters)
      }
    }
  }); // app is just that validator
  app.mount("#app")
</script>

</html>
