/* CSS that's left during the migration of app from Vue CDN */

body {
  display: flex;
  font-family: Arial, Helvetica, sans-serif;
  place-items: center;
}

main {
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

h1 {
  width: auto;
  flex: 1;
}

section {
  max-width: 600px;
  flex: 2;
}

.info-box {
  border: 1px solid #333;
  padding: 10px;
}

input[type='text'] {
  padding: 12px 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

input[type='text']:focus {
  outline: none;
  border-color: #3c87ff;
  box-shadow: 0 0 0 2px rgb(60 132 255 / 60%);
}

div,
li {
  padding: 0.2rem;
}

.favorite-btn {
}

.favorite-btn:hover {
  background-color: #ddd;
}

.favorite-btn.active {
  background-color: #d83b3b;
  color: white;
}

.favorite-btn .icon {
  width: 20px;
  height: 20px;
  vertical-align: middle;
}

label {
  display: inline-block;
  font-size: 1rem;
  font-weight: 500;
  margin-bottom: 0.5rem;
}
